/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Itim&family=Potta+One&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/* link de los css */
@import url(./main.css);
@import url(./header.css);
@import url(./modal.css);
@import url();
@import url(./footer.css);

/* Estilos generales */
:root{
    --añil: #264971;
    --añilClaro: #125a7e;
    --azul: #157591;
    --azulVerdoso: #17a1a7;
    --aqua: #20dab8;

    --verde: #12807c;
    --azulClaro: #08f5f9;
    --azulOscuro: #0847ca;

    --negro: #1c1c1c;
    --gris: #ececec;
    --blanco: #f7f7f7;

    /* ELEMENTOS */
    --normal: #A8A878;
    --fire: #E62829;
    --water:#2980EF;
    --grass: #3FA129;
    --electric: #FAC000;
    --ice: #3FD8FF;
    --fighting: #FF8000;
    --poison: #8F41CB;
    --ground: #915121; 
    --flying: #81B9EF;
    --psychic: #EF4179;
    --bug: #91A119;
    --rock: #AFA981;
    --ghost: #704170;
    --dark: #50413F;    
    --dragon: #5061E1;
    --steel: #B8B8D0;
    --fairy: #EF71EF;
}
* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    /* font-family: "Potta One", system-ui; */
}

body{
    background-color: var(--añil);
    min-height: 100vh;
}