main {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.pokemon__contenedor {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media screen and (min-width: 470px) {
    .pokemon__contenedor {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 700px) {
    .pokemon__contenedor {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.pokemon {
    border-radius: 1rem;
    background-color: var(--blanco);
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
    padding-block: 1rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.pokemon__id-back {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    font-weight: 800;
    z-index: -1;
    color: var(--gris);
}

.pokemon__img {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.pokemon__img img {
    width: 100%;
    max-width: 6rem;
}

.pokemon__info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.nombre__contenedor {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon__id {
    background-color: var(--aqua);
    color: var(--blanco);
    padding: .25rem .5rem;
    border-radius: 100vmax;
    font-size: .75rem;
    font-weight: 500;
}

.pokemon__nombre {
    font-size: 1.4rem;
}

.pokemon__tipos {
    display: flex;
    gap: .5rem;
    font-size: .75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}

.tipo {
    padding: .25rem .5rem;
    border-radius: 100vmax;
}


.normal {
    background-color: var(--normal);
    color: var(--blanco);
}

.fire {
    background-color: var(--fire);
    color: var(--blanco);
}

.water {
    background-color: var(--water);
    color: var(--blanco);
}

.grass {
    background-color: var(--grass);
    color: var(--blanco);
}

.electric {
    background-color: var(--electric);
    color: var(--blanco);
}

.ice {
    background-color: var(--ice);
    color: var(--blanco);
}

.fighting {
    background-color: var(--fighting);
    color: var(--blanco);
}

.poison {
    background-color: var(--poison);
    color: var(--blanco);
}

.ground {
    background-color: var(--ground);
    color: var(--blanco);
}

.flying {
    background-color: var(--flying);
    color: var(--blanco);
}

.psychic {
    background-color: var(--psychic);
    color: var(--blanco);
}

.bug {
    background-color: var(--bug);
    color: var(--blanco);
}

.rock {
    background-color: var(--rock);
    color: var(--blanco);
}

.ghost {
    background-color: var(--ghost);
    color: var(--blanco);
}

.dark {
    background-color: var(--dark);
    color: var(--blanco);
}

.dragon {
    background-color: var(--dragon);
    color: var(--blanco);
}

.steel {
    background-color: var(--steel);
    color: var(--blanco);
}

.fairy {
    background-color: var(--fairy);
    color: var(--blanco);
}